texto = input('Escreva o texto a ser criptografado ou decifrado:')
modo = input('Escolha entre C para criptografar e D para decifrar ')
Alfabeto = 'abcdefghijklmnopqrstuvwyzàáãâéêóôõíúçABCDEFGHIJKLMNOPQRSTUVWYZÀÁÃÂÉÊÓÕÍÚÇ'
ROT = 13 
def encrypt(texto) :
    m = ''
    for c in texto:
        if c in Alfabeto:
             c_index = Alfabeto.index(c)
             m += Alfabeto[(c_index + ROT) % len(Alfabeto)]
        else:
            m += c 
    return m        
  
def decrypt(texto) :
    m = ''
    for c in texto:
        c_index =Alfabeto.index(c)
        m += Alfabeto[(c_index - ROT) % len(Alfabeto)]
    return m      
    
        



if modo == 'c':
    print (encrypt(texto))
elif modo == 'd':
    print (decrypt(texto))    
else:
    print('Esse comando não existe.')
        
