texto = input('Escreva o texto:')
Alfabeto = 'abcdefghijklmnopqrstuvwyzàáãâéêóôõíúçABCDEFGHIJKLMNOPQRSTUVWYZÀÁÃÂÉÊÓÕÍÚÇ'
ROT = 13
m = ''
empresa = ''



for c in texto:
    if c in Alfabeto:
        c_index = Alfabeto.index(c)
        m += Alfabeto[(c_index + ROT) % len(Alfabeto)]
    else:
            m += c 
return m       

empresa = input('vocé é da empresa: Sim(S) ou Não(N)')
if empresa == S:
    print(ROT)
else:
    print('voce não tem acesso a chave')
    break

    
    

    

    
        
        



if modo == 'c':
    print (encrypt(texto))
elif modo == 'd':
    print (decrypt(texto))    
else:
    print('Esse comando não existe.')
        

        
